<!-- 
================================================
                    Header section 
================================================ 
-->
<%- include('header') %>

<!-- 
================================================
                    Navbar  
================================================ 
-->
<%- include('nav') %>

<!-- 
================================================
                    Container  
================================================ 
-->

<!-- Announcement Option  -->
  <form action="/admin/announcement" method="post">
    <div class="announcement">
      <span class="fa fa-close" id="close-announcement"></span>
      <span class="fa fa-bullhorn" data-placement="right" data-toggle="tooltip" title="Announcemnt" id="announcement"></span>
      <textarea type="text" name="message" id="send-announcement" class="btn btn-primary">Announcement :
  Enter your message here...
      </textarea>
      <button type="submit"  class="submit-announcement" id="submit-msg">
        <span class="fa fa-envelope"></span>
      </button>
    </div>
  </form>

    <!-- pdf Icon  -->
    <form action="/admin/pdfGenerate" method="get">
      <div class="pdf" >
        <span id="close-pdf" class="fa fa-close"></span>
        <span class="fa fa-file-pdf-o" id="pdf" data-placement="right" data-toggle="tooltip" title="Generate PDF"></span>
        <input type="number" name="year" placeholder="Enter the year" id="send" class="btn btn-primary">
        <button type="submit" class="submit-pdf" id="submit-pdf">
          <span class="fa fa-send " id="fa-send"></span>
        </button>
      </div>
    </form>

<div class="container-box container-fluid">
  <!-- Side Section  -->
  <div class="sidebar container p-3">
    <div class="first-search-field pt-3 pb-3">
      <span class="eventLabel">Post an Event/
      <a href="/admin/event-edit" class="text-primary">Edit</a></span>
      <a href="/admin/event-post" id="eventPostButton">
        <span class="fa fa-plus"></span>
      </a>
    </div>

    <h3>Keyword</h3>

    <div class="first-search-field">
      <input type="text" id="getKeyword" placeholder="Enter keyword" class="top-search" />
      <span class="fa fa-search"></span>
    </div>

    <h3>Filters</h3>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getName"
        placeholder="Name"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getPlace"
        placeholder="Place"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>
    

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getYear"
        placeholder="Year"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getDepartment"
        placeholder="Department"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <!-- Logout  -->
    <div class="first-search-field">
      <a href="/admin/logout" type="button" class="w-100 p-1 text-center btn btn-block btn-primary submit" >Logout</a>
    </div>
  </div>

  <!-- Main section  -->
  <div class="main">
    <%- include ('partials/messages') %>
    <div class="header">
      <p class="pl-3 mt-2"><span id="value"><%= noOfVerified %></span> members in our community</p>
    </div>

    <% students.forEach(student => { %>
      <% if(!student.isVerified){ %>
        <!-- Go to Unverified Profile  -->
        <div class="unverified-profile" data-placement="right" data-toggle="tooltip" title="<%= noOfUnverified %> Unverified Profiles here!">
          <a href="/student/unverified">
            <span id="close-icon" class="fa fa-exclamation-circle text-danger"></span>
          </a>
        </div>
        <% } %>
        
      <% if(student.isVerified){ %>
        <div class="member row  justify-content-sm-center">

          <% if(student.profile == ''){ %>
            <div class="col-lg-2 col-sm-12">
              <img src="../img/modal-profile.jpg" />
            </div>
            <% }else{ %>
              <div class="col-lg-2 col-sm-12">
                <img src="../img/uploaded_images/<%= student.profile %>" alt="Profile image" />
              </div>
          <% } %>
    
          <div class="member-detail col-lg-5 col-sm-12 pt-4">
            <p class="member-name"><%= student.fullname %></p>
            <p>Joined at, <span class="member-year"><%= student.yearOfJoin %></span> </p>
            <p class="member-department"><%= student.degree %></p>
            <p class="member-home-town"><%= student.district %></p>
          </div>
          <div class="col-lg-5 btn-box mt-2">
            <a href="/student/profile/?id=<%= student.id %>" class="btn btn-outline-primary view-profile  " type="submit">view profile</a>
          </div>
        </div>
      <% } %>
      
    <% }) %>
    
  </div>
</div>

<!-- =================================
                FOOTER 
====================================== -->
<script src="../js/search.js"></script>
<%- include('footer') %> 
