<!-- 
================================================
                    Header section 
================================================ 
-->
<%- include('header') %>

<!-- Dashboard toggle button for mobile first devices  -->
<div class="mobile-toggler-div">
  <button class="btn mobile-toggler">
    <i class="fa fa-arrow-down"></i>
  </button>
</div>

<!-- 
================================================
                    Navbar  
================================================ 
-->

<%- include('nav') %>

<!-- Back top button  -->
<button class="back-to-top btn">
  <i class="fa fa-arrow-circle-o-up"></i>
</button>

<!-- Dashboard -->
<div class="dashboard row">
  <!-- Navigation menu  -->
  <section class="profile-nav col-lg-3 w-100 mt-3">
    <img src="../img/modal-profile.jpg" alt="" />
    <h2 class="profile-name">Mohamed Jack</h2>

    <div class="dash-links">
      <a class="nav-link" href="#dashboard">
        <i class="fa fa-dashboard"></i>
        Profile
      </a>
      <a href="#qualification" class="nav-link">
        <i class="fa fa-compass"></i>
        Qualification
      </a>
      <a href="#address" class="nav-link">
        <i class="fa fa-sellsy"></i>
        Address
      </a>
      <a href="#medical-info" class="nav-link">
        <i class="fa fa-book"></i>
        Medical Information
      </a>
      <a href="#co-curricular" class="nav-link">
        <i class="fa fa-envelope"></i>
        Co Curricular Activities
      </a>
      <a href="#other-details" class="nav-link">
        <i class="fa fa-area-chart"></i>
        Other Details
      </a>
    </div>
  </section>


  <!-- Student showcase  -->
  <section class="profile-showcase col-lg-6 mx-auto">
    <div class="detail">
      <h1 class="text-center">Personal Info</h1>
      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Name</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= name %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Father's Name</p>
        <p class="col-lg-9 col-sm-6 text-center"><%=fatherName%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Mother's Name</p>
        <p class="col-lg-9 col-sm-6 text-center"><%=motherName%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Gender</p>
        <p class="col-lg-9 col-sm-6 text-center"><%=gender%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Mobile</p>
        <p class="col-lg-9 text-center"><%= mobile %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Dob</p>
        <p class="col-lg-9 text-center"><%= dob %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Age</p>
        <p class="col-lg-9 text-center"><%= age %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Nationality</p>
        <p class="col-lg-9 text-center"><%=nationality%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Direcotrate</p>
        <p class="col-lg-9 text-center"><%=directorate%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Name of Institution</p>
        <p class="col-lg-9 text-center"><%= college %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Stream</p>
        <p class="col-lg-9 text-center"><%= stream %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">Unit Is</p>
        <p class="col-lg-9 text-center"><%=unit%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">State</p>
        <p class="col-lg-9 text-center"><%=state%></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">District</p>
        <p class="col-lg-9 text-center"><%= district %></p>
      </div>
    </div>

    <!-- Qualification -->
    <p id="qualification" class="mt-4"></p>

    <div class="detail m-5 col-lg-12 mx-auto">
      <h1 class="text-center" id="qualification">Qualification</h1>
      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Previous Education </p>
        <p class="col-lg-9 col-sm-6 text-center"><%= education %></p>
      </div>
      <!-- Current 
      <div class="info row">
        <p class="col-lg-3 col-sm-6 text-center">District</p>
        <p class="col-lg-9 col-sm-6 text-center">Trichy</p>
      </div> -->
    </div>

    <!-- Address  -->
    <div class="detail m-5 col-lg-12 mx-auto">
      <h1 class="text-center" id="address">Contact Detail</h1>
       <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Email</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= email %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Phone</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= phone %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Communication Address</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= comaddress %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Native State</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= comstate %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Native District</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= comdistrict %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Post Office</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= postoffice %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Post code</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= post %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Railwat Station</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= railway %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Parent Address</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= peraddress %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Unique Mark</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= 
          uniquemark %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Blood Group</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= bloodgroup %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Medical Complaints</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= medicalcomplaints %></p>
      </div>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Sports</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= 
          sport1 %>, <%= sport2 %>, <%= sport3 %></p>
      </div>

      <span id="other-details"></span>

      <div class="info row">
        <p class="col-lg-3 col-sm-6 col-xs-2  text-center">Curricular</p>
        <p class="col-lg-9 col-sm-6 text-center"><%= 
          curricular1 %>, <%= curricular2 %>, <%= curricular3 %></p>
      </div>
    </div>

    <!-- Others 
         -->
    <div class="detail m-5 col-lg-12 mx-auto">
      <h1 class="text-center" id="">Other Details</h1>
      <div class="info row">
        <p class="col-lg-10 col-sm-10 col-xs-2  text-center">Have you ever been convicted by criminal court?</p>
        <% if(criminal) { %>
          <p class="col-lg-2 col-sm-2 text-center">No</p>
        <% } else{%>
          <p class="col-lg-2 col-sm-2 text-center">Yes</p>
        <% } %>
      </div>

      <div class="info row">
        <p class="col-lg-10 col-sm-10 col-xs-2  text-center">If yes, what was the circumstance and what was the sentence?</p>
        <% if(senticriminal) { %>
          <p class="col-lg-2 col-sm-2 text-center">No</p>
        <% } else{%>
          <p class="col-lg-2 col-sm-2 text-center">Yes</p>
        <% } %>
      </div>

      <div class="info row">
        <p class="col-lg-10 col-sm-10 col-xs-2  text-center">Are you willing to be enrolled under National Cadet Corps Act, 1948?</p>
        <% if(willing) { %>
          <p class="col-lg-2 col-sm-2 text-center">No</p>
        <% } else{%>
          <p class="col-lg-2 col-sm-2 text-center">Yes</p>
        <% } %>
      </div>

      <div class="info row">
        <p class="col-lg-10 col-sm-10 col-xs-2  text-center">Are you willing to undergo service training as specified in the act and the rules made
          thereunder?</p>
        <% if(radio) { %>
          <p class="col-lg-2 col-sm-2 text-center">No</p>
        <% } else{%>
          <p class="col-lg-2 col-sm-2 text-center">Yes</p>
        <% } %>
      </div>
  </section>

  <!-- profile-notification -->
  <section class="profile-notification col-lg-3">
    <h4>Current Notification</h4>

    <!-- Main Notification -->
    <div class="news-slide">
      <!-- img slides  -->
      <section class="lazy slider">
        <div class="img">
          <img src="../img/modal-1.jpg" />
          <p>
            Event Title - 1
          </p>
        </div>
        <div class="img">
          <img src="../img/modal-2.jpg" />
          <p>
            Event Title - 2
          </p>
        </div>
        <div class="img">
          <img src="../img/modal-3.jpg" />
          <p>
            Event Title - 3
          </p>
        </div>
        <div class="img">
          <img src="../img/modal-4.jpg" />
          <p>
            Event Title - 4
          </p>
        </div>
      </section>
    </div>

    <!-- Recent Notification  -->
    <div class="recent-notification row">
      <div class="time-icon-left col-2">
        <i class="fa fa-clock-o"></i>
      </div>
      <div class="info-notify-right col-10">
        <p class="text-primary">Today</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>

    <div class="recent-notification row">
      <div class="time-icon-left col-2">
        <i class="fa fa-clock-o"></i>
      </div>
      <div class="info-notify-right col-10">
        <p class="text-primary">3 Days</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>

    <div class="recent-notification row">
      <div class="time-icon-left col-2">
        <i class="fa fa-clock-o"></i>
      </div>
      <div class="info-notify-right col-10">
        <p class="text-primary">2 Week</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
  </section>
</div>

<!-- 
================================================
                    Footer section 
================================================ 
-->
<%- include('footer') %>
